#
# JANA configuration parameters
# Created Wed May 22 13:58:01 2019
#
# JLab Farm, old engine

plugins                   JTest

jana:legacy_mode          1
jana:debug_plugin_loading 1
jana:extended_report      1
jana:max_num_open_sources 1

benchmark:minthreads      4
benchmark:maxthreads      88
benchmark:threadstep      4

