#
# JANA configuration parameters
# Created Wed May 22 13:58:01 2019
# Latest baseline

plugins                   JTest

jana:legacy_mode          0
jana:debug_plugin_loading 1
jana:extended_report      1
jana:max_num_open_sources 1

benchmark:minthreads      4
benchmark:maxthreads      80
benchmark:threadstep      4

jtest:parser_ms           1
jtest:disentangler_ms     20
jtest:tracker_ms          200
jtest:plotter_ms          20

jtest:parser_bytes        2000000
jtest:disentangler_bytes  16000000
jtest:tracker_bytes       1000
jtest_plotter_bytes       1000


