benchmark:maxthreads          80
benchmark:minthreads          4
benchmark:threadstep          4
jana:affinity                 2
jana:event_queue_threshold    80
jana:legacy_mode              0
jana:locality                 3
jtest:disentangler_bytes      500000
jtest:disentangler_ms         20
jtest:parser_bytes            2000000
jtest:parser_ms               1
jtest:plotter_bytes           1000
jtest:plotter_ms              20
jtest:tracker_bytes           1000
jtest:tracker_ms              200
plugins                       JTest
